{% include base_path %}

<!-- SEO Meta Tags -->
<meta name="description" content="Personal website of Grégoire Sempé, PhD candidate at the Paris School of Economics. Research focus is macroeconomics, with an emphasis on environmental policies, climate change, and heterogeneity.">
<meta name="keywords" content="Gregoire Sempe, Sempé, Grégoire, PhD, macroeconomics, climate policy, climate change, heterogeneity, research, economist, inequality">

<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicons/favicon-48x48.png" sizes="48x48">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicons/web-app-manifest-512x512.png" sizes="512x512">
<link rel="manifest" href="{{ base_path }}/images/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ base_path }}/images/favicons/safari-pinned-tab.svg" color="#000000">
<link rel="shortcut icon" href="{{ base_path }}/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="{{ base_path }}/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
